<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<script src="../js/navbar.js"></script>
</head>
<body >
	<div id="nav-con">
		<div id="link-con">
			<img class="logo" src="../img/logo.png" />
			<br/><br/>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="../sort.html">Sort Visualier</a></li>
			</ul>
		</div>
		<div id="nav-btn" onclick="navToggle()">
			<span><div data-menu-line="top"> </div>
			<div data-menu-line="mid"> </div>
			<div data-menu-line="bot"> </div></span>
			<span>Menu</span>
		</div>
		
	</div>
</body>
</html>